@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
    --accent-color: #FFEA00;
    --grid-columns: 3;
    --grid-gap: 10;
}

/* LAYOUT */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', Verdana, sans-serif;
    line-height: 1;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
}

header, main {
    padding: calc(var(--grid-gap) * 1px);
    padding-bottom: 0;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

main {
    overflow-x: clip;
}

footer {
    width: 100%;
    margin-top: auto;
}

header h1 {
    margin: 0;
    font-size: clamp(3rem, 6vw, 6rem);
}

#filters {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    row-gap: 1.5rem;
}

.filter {
    position: relative;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: right;
    line-height: 1.25;
    cursor: pointer;
}

.filter.active span {
    background-image: linear-gradient(#fff 60%, var(--accent-color) 55%);
}

#img-grid {
    display: flex;
}

.gallery-img {
    width: calc(100% / var(--grid-columns) - ((var(--grid-columns) - 1) * var(--grid-gap) * 1px) / var(--grid-columns));
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: calc(var(--grid-gap) * 1px);
}

#marquee {
    overflow: hidden;
    padding: 0 !important;
    font-size: 1.5rem;
}

#marquee p {
    --tw: 69em;
    --ad: 12s;
    display: inline-block;
    white-space: nowrap;
    color: #00112C;
    width: var(--tw);
    text-shadow: var(--tw) 0 currentColor,
    calc(var(--tw) * 2) 0 currentColor,
    calc(var(--tw) * 3) 0 currentColor,
    calc(var(--tw) * 4) 0 currentColor;

    will-change: transform;
    animation: marquee var(--ad) linear infinite;
    animation-play-state: running;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@media screen and (max-width: 992px) {
    :root {
        --grid-columns: 2;
    }

    header {
        flex-direction: column;
        text-align: center;
        align-items: center;
        row-gap: 40px;
    }

    header h1 {
        font-size: clamp(2.25rem, 5.25vw, 5.25rem);
    }

    header h1 br {
        display: none;
    }

    #filters {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .filter {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --grid-gap: 8;
    }
}

@media screen and (max-width: 562px) {
    :root {
        --grid-columns: 1;
    }

    #filters {
        flex-wrap: wrap;
        column-gap: 40px;
    }
}