<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link href="style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/6.1.0/shuffle.min.js" integrity="sha512-r8mIpk3ypCMwNxH6srRZGbjHQlOFt3Mq2vrZ/iymx6g9JUqTeVavofeX6gbrxAC74X5HmBy5gxyhCm6OiXrM0Q==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="scripts.js" defer></script>
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header>
          <h1>
            cats & <br>shiny beetles
          </h1>
          <div id="filters">
            <div id="cats" class="filter active" onclick="javascript:shuffle(this)"><span>cats</span></div>
            <div id="beetles" class="filter active" onclick="javascript:shuffle(this)"><span>beetles</span></div>
            <div id="both" class="filter active" onclick="javascript:shuffle(this)"><span>cats + beetles</span></div>
          </div>
        </header>
      </div>
    </div>

    <main class="container">
      {{ content }}
    </main>

    <footer>
      <div id="marquee">
        <p>Dedicated to my friend jaz. Happy Valentine’s day jaz you will always be loved. ♥</p>
      </div>
    </footer>
  </body>
</html>
